* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Oswald", sans-serif;
  background-color: #000000;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
header {
  width: 100%;
  display: grid; /* Activa Flexbox */
  cursor: none; /* Esconde el cursor estándar */
  padding: 2%;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 18em 16em 16em 16em;
  grid-template-rows: 5em;
  gap: 8%;
  flex-direction: row;
}
.nav-list li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list a {
  display: flex;
  color: #ffffff;
  font-weight: bold;
  align-items: center;
  font-weight: bold;
  font-size: 8em;
  align-items: center;
}
/* Ajustes listas y links */
a {
  text-decoration: none;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  justify-content: center;
}
ul {
  list-style: none;
}

/* Botones */
.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Helvetica", sans-serif; /* Usa Helvetica como fuente */
  white-space: nowrap;
  padding: 1vw 2vw;
  border-radius: 28vw;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
}
/* Cambio de color al hacer hover */

/* Rotar */
@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Comienza sin rotación */
  }
  100% {
    transform: rotate(360deg); /* Gira 360 grados */
  }
}

.rotating-image {
  display: none;
  width: 6vw; /* Puedes ajustar el tamaño de la imagen */
  height: 6vw;
  animation: rotate 4s linear infinite; /* Aplica la animación de rotación */
}

strong {
  color: #ffffff; /* Color azul oscuro */
  text-align: left;
  justify-content: center;
  font-size: 0.3em;
}

/* Estilo de enlaces */
a {
  color: #000000; /* Color azul brillante */
  text-align: center;
}
a:hover {
  text-decoration: dashed;
}

.dust-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10%;
}

.dust-text {
  padding: 5%;
  font-size: 10rem;
  line-height: 9rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  filter: blur(20px);
  opacity: 0;
  animation: dust-animation 4s ease-in-out forwards;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 0 30px rgba(255, 255, 255, 0.4);
  justify-content: center;
  align-items: center;
}

/* Animación de polvo */
@keyframes dust-animation {
  0% {
    filter: blur(20px);
    opacity: 0;
    transform: scale(1.2);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 30px rgba(255, 255, 255, 0.4);
  }
  30% {
    opacity: 0.5;
    filter: blur(10px);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
      0 0 50px rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
  }
  70% {
    filter: blur(4px);
    opacity: 1;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
      0 0 15px rgba(255, 255, 255, 0.5);
    transform: scale(1.02);
  }
  100% {
    filter: blur(0);
    text-shadow: 0 0 2px rgba(255, 255, 255, 1),
      0 0 10px rgba(255, 255, 255, 0.7);
    opacity: 1;
    transform: scale(1);
  }
}

/* go home*/
.text-container {
  position: relative;
  width: 100%; /* Ancho del contenedor */
  overflow: hidden; /* Oculta cualquier parte del texto que salga del contenedor */
  height: 10%; /* Alto del contenedor */
  display: flex;
  align-items: center;
  margin-top: auto;
  filter: blur(1px);
}

.animated-text {
  position: absolute;
  white-space: nowrap; /* Evita que el texto haga saltos de línea */
  padding: 1%; /* Prevents text from touching edges */
  font-size: 3em; /* Scaled-down size for mobile screens */
  color: #ffffff;
  animation: slideIn 30s linear infinite;
}

@keyframes slideIn {
  0% {
    transform: translateX(
      100vw
    ); /* Comienza fuera de la pantalla a la derecha */
  }

  100% {
    transform: translateX(-100vw); /* Sale completamente a la izquierda */
  }
}
/* Aplicación de la animación a un elemento */
.elemento {
  animation: slideIn 30s ease-in-out infinite; /* 3 segundos de duración, animación continua */
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #ffffff;
  color: #000000;
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 1%;
}
