* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* Ajustes de cursor */
.custom-cursor {
  position: sticky;
  width: 40px;
  height: 40px;
  background: rgba(32, 32, 32, 0.7);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* Encabezado */
.header {
  background: #ffffff;
  display: grid; /* Activa Flexbox */
  cursor: none; /* Esconde el cursor estándar */
  justify-content: center;
}

.nav-list {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 9em 3em 3em 3em;
  grid-template-rows: auto;
  gap: 10%;
  max-width: 100%;
  flex-direction: row;
}
.nav-list li {
  display: grid;
  align-items: center;
}
.nav-list a {
  display: none;
  font-weight: bold;
  align-items: center;
}
/* Ajustes listas y links */
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  display: grid;
}
.menu-btn {
  background-color: #191919;
  color: rgb(254, 254, 254);
  padding: 2.5vw 5vw;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  border-radius: 20vw;
  padding: 6px 12px;
}
.menu-content {
  display: none; /* Ocultamos el menú inicialmente */
  position: absolute;
  background-color: rgb(0, 0, 0);
  box-shadow: 0vw 4% 6% rgba(0, 0, 0, 0.2);
  border-radius: 2vw;
  z-index: 1;
  margin-top: 30%;
  padding: 5%;
  max-width: 25%;
}
.menu-content a {
  color: rgb(255, 255, 255);
  padding: 3%;
  text-decoration: wavy;
  display: block;
}
.menu-btn:hover {
  background-color: #8b8b8b;
  color: #000;
}
/* Mostrar el menú cuando se hace hover */
.menu:hover .menu-content {
  display: block;
}

/* Botones */
.button {
  background-color: black;
  color: white;
  font-family: "Helvetica", sans-serif; /* Usa Helvetica como fuente */
  font-size: 1em;
  max-width: 300vw;
  padding: 8vw 16vw;
  border: none;
  border-radius: 26vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición suave para el hover */
}
/* Cambio de color al hacer hover */
.button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Rotar */
@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Comienza sin rotación */
  }
  100% {
    transform: rotate(360deg); /* Gira 360 grados */
  }
}

.rotating-image {
  width: 10vw; /* Puedes ajustar el tamaño de la imagen */
  height: 10vw;
  animation: rotate 4s linear infinite; /* Aplica la animación de rotación */
}

.word {
  display: inline-block;
  white-space: nowrap; /* Para que las letras estén en una sola línea */
}

.concept-eight {
  display: flex;
  text-align: left;
  justify-content: center;
  padding: 30%;
}
/* Cuerpo */
/* irenecasenave cascada */
@keyframes falls {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* Comienza fuera de la vista, hacia arriba */
  }
  50% {
    opacity: 1;
    transform: translateY(10px); /* Caen un poco hacia abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Se quedan en su posición original */
  }
}

.char {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  opacity: 0; /* Inicialmente las letras son invisibles */
  animation: falls 1.5s ease-out forwards;
  word-spacing: -6em;
  margin-right: 5px; /* Slightly increased spacing for readability */
  padding-top: 5%; /* Reduced for compact view */
}

.char:nth-child(1) {
  animation-delay: 0.1s;
}

.char:nth-child(2) {
  animation-delay: 0.3s;
}

.char:nth-child(3) {
  animation-delay: 0.5s;
}

.char:nth-child(4) {
  animation-delay: 0.7s;
}

.char:nth-child(5) {
  animation-delay: 0.9s;
}

.char:nth-child(6) {
  animation-delay: 1.1s;
}

.char:nth-child(7) {
  animation-delay: 1.3s;
}

.char:nth-child(8) {
  animation-delay: 1.5s;
}

.char:nth-child(9) {
  animation-delay: 1.7s;
}

.char:nth-child(10) {
  animation-delay: 1.9s;
}

.char:nth-child(11) {
  animation-delay: 2.1s;
}

.char:nth-child(12) {
  animation-delay: 2.3s;
}

.char:nth-child(13) {
  animation-delay: 2.5s;
}

.about-me {
  margin: 0;
  display: grid;
  min-height: 40%;
  grid-template-rows: 1fr 1fr; /* Upper part takes 1/3, lower part 2/3 */
  grid-template-columns: 1fr 1fr; /* Two equal columns in lower part */
  align-items: center;
}

.upper {
  grid-column: 1 / -1; /* Span both columns */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.profile-image {
  width: 20em; /* Slightly smaller for mobile screens */
  align-items: center;
}

.lower-left {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.lower-right {
  display: flex;
  justify-content: center;
  max-width: 75%;
}
.img-padding {
  display: block;
  padding: 2%;
  box-sizing: border-box;
}

.project-box {
  background: #ffffff;
  box-shadow: 0 2vw 5vw rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image-container {
  width: 100%;
  aspect-ratio: 1.15 / 1; /* Mantiene proporción fija (opcional) */
  margin: 0;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  position: relative;
  width: 100%; /* Ancho del contenedor */
  letter-spacing: -0.25em;
  overflow: hidden; /* Oculta cualquier parte del texto que salga del contenedor */
  height: 60px; /* Alto del contenedor */
  background-color: #ffffff; /* Color de fondo opcional */
  display: flex;
  align-items: center;
}

/* Texto animado slydin*/
.animated-text {
  position: absolute;
  white-space: nowrap; /* Evita que el texto haga saltos de línea */
  padding: 2% 0; /* Prevents text from touching edges */
  font-size: 4em; /* Scaled-down size for mobile screens */
  color: #000000;
  animation: slideIn 7s linear infinite;
}

@keyframes slideIn {
  0% {
    transform: translateX(
      100vw
    ); /* Comienza fuera de la pantalla a la derecha */
  }

  100% {
    transform: translateX(-100vw); /* Sale completamente a la izquierda */
  }
}
/* Aplicación de la animación a un elemento */
.elemento {
  animation: slideIn 3s ease-in-out infinite; /* 3 segundos de duración, animación continua */
}

.slydin-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.image-tarjeta {
  height: 16em;
}

h2 {
  letter-spacing: 0.0005em;
  margin: 0;
  color: #000350;
}

.grid-container-explanation {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto; /* Height adjusts automatically based on content */
}

/* Top section */
.top-section-explanation {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 12em 1fr; /* Two columns inside the top section */
  grid-template-rows: auto; /* Height adjusts automatically based on content */
  gap: 15%; /* Adjusted gap to pixels for consistency */
  padding: 2rem 1rem; /* Adjusted padding using rem units for better scaling */
}

/* Column within the top section */
.top-column-explanation {
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: left;
  justify-content: center;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 0 1rem; /* Optional padding for text */
}

.image-cartelas {
  height: 19.5em;
}

.text-container-zara {
  position: relative;
  width: 100%; /* Ancho del contenedor */
  letter-spacing: -0.05em;
  overflow: hidden; /* Oculta cualquier parte del texto que salga del contenedor */
  height: 60px; /* Alto del contenedor */
  background-color: #ffffff; /* Color de fondo opcional */
  display: flex;
  align-items: center;
  justify-content: center;
}

.zara-grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  gap: 5%;
}

.zara-top-section {
  grid-column: 1 / -1; /* This section spans the full width */
}

.zara-middle-section {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1; /* Initially, this will span full width */
  grid-template-columns: 40% 30%; /* Two equal columns in the middle section */
  gap: 10%; /* Adjust gap between the columns */
  padding: 1rem;
  grid-template-rows: auto; /* Height adjusts automatically based on content */
}

.zara-bottom-section {
  grid-column: 1 / -2; /* Full width for bottom section */
}

.image-introzara {
  width: 100%;
}

.image-zarados {
  width: 100%;
}
.gif {
  width: 100%;
  background-color: #2e473b;
}
.contact {
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 30%;
  gap: 0%;
  grid-template-rows: auto;
  padding-top: 50%;
  padding-bottom: 20%;
}
.contact-text {
  text-align: left;
  font-size: x-small;
}
.contact-image {
  height: 11em;
}
/* Pie de página */
.footer {
  padding: 2em;
  background: #000000;
  color: #fff;
  text-align: center;
  width: auto;
  text-align: enter;
  font-size: 0.5em;
}
