body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  letter-spacing: 0em;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}
h3 {
  margin: 0;
  padding: 2px;
}
h4 {
  font-size: auto;
  margin: 0;
  padding: 2px;
}

.header {
  background: #ffffff;
  padding: 20px 10%;
  display: flex; /* Activa Flexbox */
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list li {
  margin: 0 20px;
}

.nav-list a {
  font-weight: bold;
  font-size: 15px;
  align-items: center;
}

.about {
  display: flex;
  align-items: center;
  padding: 50px 10%;
  background: #fff;
}

.profile-image {
  width: 600px;
  height: 700%;
  margin-right: 20px;
}

.about-text {
  max-width: 380px;
}

.highlight {
  font-weight: bold;
  color: #000;
}

.work {
  padding: 50px 10%;
  background: #fff;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 10px;
}

.project-box {
  background: #ffffff;
  padding: 10px;
  height: 50px; /* Ajustamos el tamaño de las cajas de proyectos */
  width: 50%; /* Hacemos que ocupe todo el ancho disponible */
  text-align: left;
  font-weight: bold;
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Agregamos sombra */
  overflow: hidden; /* Evitar que la imagen se desborde */
}

.image-container {
  position: relative;
  width: 110%;
  height: 110%;
  overflow: hidden; /* Es importante para evitar que la imagen sobresalga */
}

/* Imagen del Proyecto */
.project-image {
  width: 40%;
  height: 30%;
  object-fit: cover; /* Mantiene la imagen en su proporción */
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 91%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.5); /* Capa gris con opacidad */
  opacity: 0; /* Inicialmente no visible */
  transition: opacity 0.3s ease; /* Transición suave */
}

/* Mostrar overlay al hacer hover */
.image-container:hover .overlay {
  opacity: 1;
}

/* Efecto Hover de la Imagen */
.image-container:hover .project-image {
  transform: scale(1.05); /* La imagen se agranda ligeramente al hacer hover */
}

/* Cambio de color al hacer hover */
.button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.contact {
  padding: 50px 10%;
  background: #ffffff;
  text-align: center;
}

.contact-info p {
  margin: 10px 0;
}
.full-width-image {
  width: 100%; /* Hace que la imagen ocupe todo el ancho de la pantalla */
  height: auto; /* Mantiene la proporción original de la imagen */
  display: block; /* Evita un pequeño espacio debajo de la imagen causado por el comportamiento inline */
}
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: auto;
}
