* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Oswald", sans-serif;
}
header {
  background: #ffffff;
  display: grid; /* Activa Flexbox */
  cursor: none; /* Esconde el cursor estándar */
  padding: 5%;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 8em 3em 3em 3em;
  grid-template-rows: auto;
  gap: 10%;
  max-width: 100%;
  flex-direction: row;
}
.nav-list li {
  display: grid;
  align-items: center;
}
.nav-list a {
  display: none;
  color: #000000;
  font-weight: bold;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
}
/* Ajustes listas y links */
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Botones */
.button {
  background-color: black;
  color: white;
  font-family: "Helvetica", sans-serif; /* Usa Helvetica como fuente */
  white-space: nowrap;
  padding: 2vw 4vw;
  border-radius: 28vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición suave para el hover */
}
/* Cambio de color al hacer hover */
.button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Rotar */
@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Comienza sin rotación */
  }
  100% {
    transform: rotate(360deg); /* Gira 360 grados */
  }
}

.rotating-image {
  width: 10vw; /* Puedes ajustar el tamaño de la imagen */
  height: 10vw;
  animation: rotate 4s linear infinite; /* Aplica la animación de rotación */
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif; /* Tipografía sin serifas */
  background-color: #83a3d0; /* Color de fondo suave */
  color: #333; /* Color de texto oscuro */
}
header {
  background-color: #83a3d0; /* Color de fondo del footer */
  color: rgb(34, 44, 99); /* Color del texto */
  text-align: left; /* Centra el texto */
  font-size: 40px;
}
.footer {
  padding: 1em;
  margin-top: 15%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  width: auto;
  text-align: enter;
  font-size: 0.8em;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

/* Encabezados */
h1 {
  padding: 10%;
  justify-content: center;
  color: #272727; /* Color azul oscuro */
  font-size: 2.2em;
  text-align: center;
  line-height: 1em;
}

h2 {
  color: #ffffff; /* Color azul oscuro */
  font-size: 80px;
  margin-bottom: 5px;
  margin: 5;
  text-align: center;
}

/* Encabezados */
h3 {
  color: #2c3e50; /* Color azul oscuro */
  text-align: left;
  padding: 8%;
  justify-content: center;
  font-size: 1em;
}

/* Estilo de enlaces */
a {
  color: #000000; /* Color azul brillante */
  font-size: 1.5em;
  text-align: center;
}
a:hover {
  text-decoration: dashed;
}

.moyceram {
  padding: 0%;
  padding-top: 18%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h5 {
  color: #ffffff; /* Color azul oscuro */
  margin-bottom: 20px;
  font-size: 30px;
  margin-bottom: 2px;
  margin: 5;
  text-align: center;
  padding-bottom: 0px;
  line-height: 1em;
}

img {
  max-width: 100%;
}
