body {
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Tipografía sin serifas */
    line-height: 1.6;
    margin: 20;
    padding: 20;
    background-color: #83a3d0; /* Color de fondo suave */
    color: #333; /* Color de texto oscuro */
}

/* Encabezados */
h1 {
    color: #2c3e50; /* Color azul oscuro */
    font-size: 40px;
    margin-bottom: 5px;
    margin: 5;
    text-align: left;
}
/* Encabezados */
h2, h3, h4 {
    color: #2c3e50; /* Color azul oscuro */
    margin-bottom: 20px;
    font-size: 20px;
    margin-bottom: 2px;
    margin: 5;
    text-align: left;
}

/* Estilo de enlaces */
a {
    color: #124465; /* Color azul brillante */
    text-decoration: none;
    margin-bottom: 20px;
    margin: 5;
    text-size-adjust: 40px;
    text-align: left;

a:hover {
    text-decoration: underline; /* Subrayar al pasar el cursor */
}

br {
    color: #102b46;
}

img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
}


